extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	.backgound-video
		video(src="images/background.mp4" autoplay loop muted)
	.logo 
		.logo__container 
			.logo__line-wrapper 
				.logo__line 
			a.logo__icon(href="https://shkulevholding.ru/" target="_blank")
				img(src="images/logo.png", alt="alt")

	.hero 
		.hero__container 
			.hero__body 
				.hero__body-top 
					.title-big топ—50 
					.title-small историй мужчин
				.hero__maxim 
					img(src="images/maxim.png", alt="alt")
				p.hero__text.hero__text-desktop 
					a(href="") MaximOnline.ru
					|  запускает большой проект историй самых ярких мужчин России. Представители спорта, кино, музыки и бизнеса расскажут свои истории, чтобы помочь ответить на главный вопрос: «Что значит “быть мужчиной” в 2023 году». Большой сериал историй, призванный напомнить и подчеркнуть, что MaximOnline.ru — сайт №1 для мужчин в русскоязычном интернете.
			.hero__images
				.hero__circles
					img.hero__circle.hero__circle--1(src="images/elips_up.png")
					img.hero__circle.hero__circle--2(src="images/elips_down.png")
				.hero__swiper.swiper
					.swiper-wrapper
			p.hero__text.hero__text-mobile 
				a(href="") MaximOnline.ru
				|  запускает большой проект историй самых ярких мужчин России. Представители спорта, кино, музыки и бизнеса расскажут свои истории, чтобы помочь ответить на главный вопрос: «Что значит “быть мужчиной” в 2023 году». Большой сериал историй, призванный напомнить и подчеркнуть, что MaximOnline.ru — сайт №1 для мужчин в русскоязычном интернете.

	.content 
		.swiper.content__tabs
			.swiper-wrapper

		.swiper.content__body-wrapper#content
			.swiper-wrapper
